

.content {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    font-size: 10px;
    position:fixed;
    bottom: 0;
    text-align: center;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    padding: 5px;
}